.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#E8F3FE, #E8F3FE);
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-color: #E8F3FE;
    box-shadow: 0 0 5px E8F3FE;
}

button {
    background-color: #fa6827;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d85c23;
}