.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#E8F3FE, #E8F3FE);
}

.signup-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* display: flex; */
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.form-elements {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #fa6827;
    box-shadow: 0 0 5px rgba(250, 104, 39, 0.5);
}

button {
    background-color: #fa6827;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d85c23;
}